<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add connectionString="Server=127.0.0.1,1433;
			 Database=test;User ID=sa;Password=0270453;Encrypt=False;
			 Integrated Security=false;Trusted_Connection=false;TrustServerCertificate=True;"
		     name="constr" />
	</connectionStrings>
</configuration>